<h1>Your favourite language by repo count is: <%= @language_by_repos.join(' / ') %> </h1>
<h1>Your favourite language by total bytes is: <%= @language_by_total_bytes.join(' / ') %> </h1>

<h2>These are the repos we could find</h2>
<table>
  <tr>
    <th>Repository Name</th>
    <th>Dominant Language</th>
  </tr>
<% @repos.each do |repo| %>
  <tr>
    <td><a href=<%=repo.url%>><%= repo.name %></a></td>
    <td><%= repo.dominant_language %></td>
  </tr>
<% end %>
</table>